#featured-projects {
    background-color: #001221;
    color: #fff;
    padding: 2rem;
  }
  
  #featured-projects h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .project {
    display: flex;
    align-items: center;
    margin: 1rem;
    gap: 2rem;
  }
  
  .project img {
    width: 600px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .project-description {
    max-width: 600px;
  }
  
  .project-description a {
   text-decoration: none;
   color: #fff;
  }
  .project-description a::after{
    text-decoration: none;
    color: #fff;
   }

  .project-description h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .project-description h3:hover {
    color: #81A5B5;
    cursor: pointer;
  }
  
  .project-description p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .project:nth-child(even) {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-around;
  }
  .project:nth-child(odd) {

    display: flex;
    justify-content: space-around;
  }
  