.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #001221;
  color: #fff;
}

.logo img {
  height: 50px;
  border-radius: 50%;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

[data-theme="light"] .navbar {
  background-color: #fff;
  color: #001221;
}

[data-theme="light"] .nav-links a {
  color: #001221;
}

@media (min-width: 768px) {
  .navbar {
    padding: 2rem;
  }

  .nav-links {
    gap: 2rem;
  }

  .nav-links a {
    font-size: 1.5rem;
  }
}
