---
import "../styles/contact.css";
---

<section id="contact" class="contact-section">
  <div class="contact-text">
    <h2>Contact</h2>
    <div class="vertical-text">
      <div class="first line">
        <div class="word">
          <div>F</div>
          <div>E</div>
          <div>E</div>
          <div>L</div>
        </div>
        <div class="word">
          <div>F</div>
          <div>R</div>
          <div>E</div>
          <div>E</div>
        </div>
        <div class="word">
          <div>T</div>
          <div>O</div>
        </div>
        <div class="word">
          <div>C</div>
          <div>O</div>
          <div>N</div>
          <div>T</div>
          <div>A</div>
          <div>C</div>
          <div>T</div>
        </div>
      </div>

      <div class="second line">
        <div class="word">
          <div>M</div>
          <div>E</div>
        </div>
        <div class="word">
          <div>B</div>
          <div>Y</div>
        </div>
        <div class="word">
          <div>S</div>
          <div>U</div>
          <div>B</div>
          <div>M</div>
          <div>I</div>
          <div>T</div>
          <div>T</div>
          <div>I</div>
          <div>N</div>
          <div>G</div>
        </div>
        <div class="word">
          <div>T</div>
          <div>H</div>
          <div>E</div>
        </div>
      </div>

      <div class="third line">
        <div class="word">
          <div>F</div>
          <div>O</div>
          <div>R</div>
          <div>M</div>
        </div>
        <div class="word">
          <div>&</div>
        </div>
        <div class="word">
          <div>I</div>
        </div>
        <div class="word">
          <div>W</div>
          <div>I</div>
          <div>L</div>
          <div>L</div>
        </div>
        <div class="word">
          <div>G</div>
          <div>E</div>
          <div>T</div>
        </div>
        <div class="word">
          <div>B</div>
          <div>A</div>
          <div>C</div>
          <div>K</div>
        </div>
      </div>

      <div class="fourth line">
        <div class="word">
          <div>T</div>
          <div>O</div>
        </div>
        <div class="word">
          <div>Y</div>
          <div>O</div>
          <div>U</div>
        </div>
        <div class="word">
          <div>A</div>
          <div>S</div>
          <div>A</div>
          <div>P</div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-form">
    <form action="https://formspree.io/f/mblrrldq" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required />
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
      <label for="message">Message</label>
      <textarea id="message" name="message" required></textarea>
      <button type="submit">Contact me</button>
    </form>
  </div>
</section>
