---
import "../styles/featuredProjects.css";
---

<section id="featured-projects">
  <h2>FEATURED PROJECTS</h2>
  <div class="project">
    <a
      href="https://flexibble-clone-app.vercel.app/"
      target="_blank"
      rel="noopener noreferrer"
      ><img src="/images/dribbbleclone.png" alt="Flexibble" /></a
    >
    <div class="project-description">
      <a
        href="https://flexibble-clone-app.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"><h3>Flexibble</h3></a
      >
      <p>
        Flexibble is a meticulously crafted clone of the popular design
        portfolio platform Dribbble, built to showcase creative work, facilitate
        networking among designers, and inspire through a vast collection of
        high-quality visuals. This site offers a seamless user experience for
        designers and creatives to present their work, discover others'
        projects, and connect with the design community
      </p>
    </div>
  </div>

  <div class="project">
    <a
      href="https://do-it-todo.vercel.app/"
      target="_blank"
      rel="noopener noreferrer"><img src="/images/todo.png" alt="DO-IT" /></a
    >
    <div class="project-description">
      <a
        href="https://do-it-todo.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"><h3>DO-IT</h3></a
      >
      <p>
        The "DO-IT" , a Todo App is a simple, intuitive task management
        application built using React for the frontend and styled with CSS for a
        clean and modern user interface. This app allows users to efficiently
        manage their daily tasks and to-dos, ensuring they stay organized and
        productive.
      </p>
    </div>
  </div>

  <div class="project">
    <a
      href="https://github-clone-two.vercel.app/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/images/githubclone.png" alt="CloneHub" /></a
    >
    <div class="project-description">
      <a
        href="https://github-clone-two.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"><h3>CloneHub</h3></a
      >
      <p>
        CloneHub is a robust and feature-rich clone of the popular GitHub
        platform, designed for developers to host, review, and manage their code
        repositories. Built with TypeScript and CSS, CloneHub offers a seamless
        and intuitive user experience, combining powerful functionality with a
        clean, modern design.
      </p>
    </div>
  </div>

  <div class="project">
    <a
      href="https://promptia-lac.vercel.app/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/images/promptia.png" alt="Promptia" /></a
    >
    <div class="project-description">
      <a
        href="https://promptia-lac.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"><h3>Promptia</h3></a
      >
      <p>
        Promptia is an innovative platform designed for storing, sharing, and
        discovering ChatGPT prompts. Built to facilitate collaboration and
        inspiration among users, Promptia allows you to save your favorite
        prompts, share them with others, and explore prompts from the community.
        Whether you are seeking creative writing ideas, coding assistance, or
        general information, Promptia provides a dynamic environment for prompt
        management and discovery.
      </p>
    </div>
  </div>
</section>
