---
import "../styles/featuredProjects.css";
---
<section class="featured-projects">
  <h2>FEATURED PROJECTS</h2>
  <div class="project">
    <img src="/images/dribbbleclone.png" alt="Project X">
    <div class="project-description">
      <h3>Project x</h3>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      <p>- Richard</p>
    </div>
  </div>

  <div class="project">
    <img src="/images/todo.png" alt="Project Y">
    <div class="project-description">
      <h3>Project y</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>

  <div class="project">
    <img src="/images/githubclone.png" alt="Project Z">
    <div class="project-description">
      <h3>Project z</h3>
      <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
    </div>
  </div>

  <div class="project">
    <img src="/images/promptia.png" alt="Project S">
    <div class="project-description">
      <h3>Project S</h3>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>
    </div>
  </div>
</section>
