---
import "../styles/footer.css";
import { FaLinkedinIn, FaGithub, FaDribbble, FaBehance } from "react-icons/fa";
---

<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <h2>Shiyamal Kumar</h2>
      <p>
        A Front-End Developer and UX Designer Crafting Intuitive Interfaces and
        Dynamic Web Applications to Drive Product Success
      </p>
    </div>
    <div class="footer-right">
      <h3>Socials</h3>
      <div class="social-icons">
        <a
          href="https://www.linkedin.com/in/shiyamal-kumar-9881b0209"
          target="_blank"
          rel="noopener noreferrer"
        >
          <FaLinkedinIn size={30} />
        </a>
        <a
          href="https://github.com/ShiyamalKumar"
          target="_blank"
          rel="noopener noreferrer"
        >
          <FaGithub size={30} />
        </a>
        <a
          href="https://dribbble.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <FaDribbble size={30} />
        </a>
        <a
          href="https://www.behance.net/shiyamalkumar"
          target="_blank"
          rel="noopener noreferrer"
        >
          <FaBehance size={30} />
        </a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <hr />
    <p>&copy; Copyright 2024. Made by Shiyamal Kumar</p>
  </div>
</footer>
