---
import "../styles/hero.css";
---

<section class="hero">
  <div class="hero-slide">
    <div class="hero-content">
      <h1>Javascript Dewebprrr</h1>
      <p>
        As a dedicated Full-Stack JavaScript Developer, I specialize in building
        dynamic and responsive web applications using modern JavaScript
        frameworks like React, Next.js, and Angular. My expertise extends beyond
        coding to include a strong foundation in UX design, ensuring that the
        applications I create are not only functional but also intuitive and
        user-friendly.
      </p>
    </div>
    <div class="hero-buttons">
      <a href="#featured-projects" class="btn-projects">Projects</a>
      <a href="#contact" class="btn-contactme">Contact me</a>
    </div>
  </div>
  <div class="ava" onclick="toggleTheme()">
    <img src="/images/avatar.png" alt="Profile" />
    <span class="dot"></span>
  </div>
</section>

<script type="module" src="/js/themeToggle.js"></script>
