---
// Import CSS file
import "../styles/navbar.css";
---
<nav class="navbar">
  <div class="logo">
    <img src="/images/glitch.png" alt="Logo">
  </div>
  <ul class="nav-links">
    <li><a href="#home">Home</a></li>
    <li><a href="#about">Contact</a></li>
    <li><a href="#projects">Projects</a></li>
  </ul>

</nav>
